#screen {
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    #screen-header {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    #screen-section {
        display: flex;
        flex-direction: row;
    }

    #screen-main {
        flex: 1;
        display: flex;
        width: 100%;

        #screen-main-loading-box {
            flex: 1;
            flex-grow: 1;
            flex-shrink: 1;
            display: flex;
            justify-content: center;
            align-content: center;
            align-items: center;
            gap: 15px;
        }

        #screen-main-content {
            flex: 1;
            flex-grow: 1;
            flex-shrink: 1;
            display: flex;
        }
    }

    #screen-footer {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
}
